/.idea/shelf/Uncommitted_changes_before_Update_at_7_8_2025_00_23_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_7_8_2025_00_29_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_7_8_2025_00_23__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_7_8_2025_00_29__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
__pycache__/
*.pyc
